<!-- //Detail -->
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Curmudgeon Care Package</title>
    <body>
      <p><%= data.answer1 %></p>
      <p><%= data.answer2 %></p>
      <p><%= data.answer3 %></p>
      <p><%= data.answer4 %></p>
    </body>
  </head>
</html>
